*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input{
    width: 300px;
    height: 40px;
    padding-left: 10px;
}
button{
    height: 40px;
    padding: 10px;
}
